HELP.md
/target/
target/classes/application.yml
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

src/js/node/
src/js/node_modules/
src/js/build/
src/js/package-lock.json
src/js/yarn.lock
src/test/test.iml
